<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to pairbnb.com, <%= @user.name %></h1>
    <p>
      To login to the site, just follow this link: <%= link_to "welcome", root_url %>.
    </p>
    <p>Thanks for joining and have a great day!!</p>

    <%= image_tag attachments['bb558ec7-1bcb-4585-a03b-bc540aa0b201.c10.jpg'].url %>
  </body>
</html>