<div class="row border border-box glassy-bg mt pt ">
  <div class="large-8 columns">
    <%= render partial: "posts/new" %>
  </div>
</div>
<div class="row">
  <div class= "large-12 columns" id="posts">
    <%= render partial: @posts.reverse %>
  </div>
</div>